.c-navbar {
	width: 100%;
	height: 60px;
}
.c-navbar-inner {
	height: 100%;
	max-width: calc(100% - 80px);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.c-navbar-logo {
}
.c-navbar-links {
	display: flex;
	align-items: center;
	grid-gap: 20px;
}
.c-navbar-link {
}
